.hljs-ln-numbers {
    text-align: center;
    color: #ccc;
    border-right: 2px solid #CCC;
    vertical-align: top;
    padding-right: 5px;

}

.hljs-ln-code {
    padding-left: 20px;
}

.introduction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: left;
}

.introduction a {
    text-decoration: none;
}

.introduction a:link {
    color:lightslategray;
}

.introduction a:visited {
    color:lightslategray;
}

.introduction a:hover {
    color:blue;
}